name: Build and Push Vite app to pre-deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Vite app
        run: npm run build

      - name: Deploy build output to pre-deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: pre-deploy   # branch that gets the built static files
          folder: dist
          clean: true
